/* RESET CSS - START */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET CSS - END */

:root {
  --navbar-height: 60px;
}

body {
  background: #2d1e2f;
  font-family: "Nunito", sans-serif;
  color: white;
  width: 100%;
  overflow-x: hidden;
}

.main {
  background-image: url("/assets/main-background.svg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white !important;
  height: 100vh;
  font-family: "Google Sans", sans-serif !important;
}

.main .anim-typewriter {
  color: white;
  font-size: 6rem !important;
  font-weight: 800;
  text-shadow: 4px 4px #000000;
}

.main h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  padding-top: 20px;
}

.find-out-more {
  background-color: #0e174a !important;
  color: white !important;
}

.find-out-more:hover {
  background-color: white !important;
  color: black !important;
  transition: 2s;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  height: var(--navbar-height);
}

#mainNavbar #logo-text {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: white;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}

@media (max-width: 765px) {
  .main .anim-typewriter {
    font-size: 5rem !important;
  }

  .main h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .main .anim-typewriter {
    font-size: 4rem !important;
  }

  .main h3 {
    font-size: 1rem;
  }
}
