@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/GoogleSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/GoogleSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/GoogleSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-Medium.woff2") format("woff2"),
    url("../assets/fonts/GoogleSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/GoogleSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/GoogleSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../assets/fonts/GoogleSansDisplay-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/GoogleSansDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../assets/fonts/GoogleSansDisplay-Italic.woff2") format("woff2"),
    url("../assets/fonts/GoogleSansDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../assets/fonts/GoogleSansDisplay-Bold.woff2") format("woff2"),
    url("../assets/fonts/GoogleSansDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../assets/fonts/GoogleSansDisplay-Medium.woff2") format("woff2"),
    url("../assets/fonts/GoogleSansDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../assets/fonts/GoogleSansDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/GoogleSansDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../assets/fonts/GoogleSansDisplay-MediumItalic.woff2")
      format("woff2"),
    url("../assets/fonts/GoogleSansDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

div,
footer {
  scroll-margin-top: 50px;
}

a:hover {
  text-decoration: none !important;
}

body > * {
  font-family: "Google Sans", sans-serif !important;
  color: #0e174a !important;
}

body {
  background-image: url("../assets/img/main-background.svg");
  object-fit: contain;
}

header {
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: #1f1f1f;
  opacity: 0.7;
  /* background-color: white; */
}

.nav {
  color: white;
}

.main-links {
  padding-top: 10px;
}

.nav-link:hover {
  background-color: white;
  color: black !important;
  transition: 0.2s;
}

.social-handles > * {
  color: white;
  margin-left: 1rem;
}

header:hover {
  transition: 0.3s;
  opacity: 0.9;
}

.social-handles i:hover {
  opacity: 1;
}

.anim-typewriter, .anim-typewriter-static {
  font-size: 6rem !important;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 800;
  text-shadow: 4px 4px #000000;
}

.main {
  color: white !important;
  height: 100vh;
}

.find-out-more {
  background-color: #0e174a !important;
  color: white !important;
}

.find-out-more:hover {
  background-color: white !important;
  color: black !important;
  transition: 2s;
}

.dev-logo {
  max-width: 500px;
}

#moreondsc,
#team,
#whattoexpect,
#FAQ {
  /* font-size: 1.5rem; */
  font-weight: 200;
  background-color: white;
  padding: 4rem;
}

#moreondsc img {
  max-width: 100%;
  /* max-height: 400px; */
  text-align: center;
}

.outer-div {
  position: relative;
}

.guy-1,
.guy-2 {
  display: none;
  position: absolute;
  max-height: 600px;
}

.guy-1 {
  left: 10px;
  top: 100px;
}

.guy-2 {
  right: 10px;
  top: 100px;
}

.whattoexpect-item {
  z-index: 100;
  min-height: 272px;
  padding: 2rem !important;
  margin: 1rem;
  -webkit-box-shadow: 10px 8px 47px -14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 8px 47px -14px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 8px 47px -14px rgba(0, 0, 0, 0.3);
}

#FAQ {
  background-color: beige;
}

#footer {
  background-color: white;
}

.box {
  /* background-color: white; */
  padding: 2rem;
  border-radius: 20px;
  color: white;
}

.nav-link {
  color: white;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.heading {
  text-align: center;
  margin-bottom: 60px;
}

.guest-recruitment {
  text-align: center;
}

.profile {
  margin: 40px auto;
  height: 300px;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.profile-1 .profile-span {
  height: 100%;
  background-image: url("../assets/img/gdsc/bigfive/firzan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile-2 .profile-span {
  height: 100%;
  background-image: url("../assets/img/gdsc/tech/Rony.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile-3 .profile-span {
  height: 100%;
  background-image: url("../assets/img/pritesh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile-4 .profile-span {
  height: 100%;
  background-image: url("../assets/img/nadia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile-5 .profile-span {
  height: 100%;
  background-image: url("../assets/img/najmi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile-6 .profile-span {
  height: 100%;
  background-image: url("../assets/img/arif.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile-7 .profile-span {
  height: 100%;
  background-image: url("../assets/img/jason.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: all 1s;
  border-radius: 5px;
  animation: none;
  border: none;
}

.profile .profile-span:nth-child(1) {
  width: 25%;
  z-index: 6;
  transition-delay: 0s;
}

.profile .profile-span:nth-child(2) {
  width: 50%;
  z-index: 5;
  transition-delay: 0.2s;
}

.profile .profile-span:nth-child(3) {
  width: 75%;
  z-index: 4;
  transition-delay: 0.4s;
}

.profile .profile-span:nth-child(4) {
  width: 100%;
  z-index: 3;
  transition-delay: 0.6s;
}

.profile:hover .profile-span {
  transform: translateY(-100%);
}

.profile:hover .profile-span:nth-child(1) {
  transition-delay: 0.6s;
}

.profile:hover .profile-span:nth-child(2) {
  transition-delay: 0.4s;
}

.profile:hover .profile-span:nth-child(3) {
  transition-delay: 0.2s;
}

.profile:hover .profile-span:nth-child(4) {
  transition-delay: 0s;
}

.profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
  text-transform: capitalize;
  text-align: center;
  transform: translateY(100%);
  transition: all 1.5s;
  transition-delay: 0.3s;
  color: #444;
}

.profile-text p {
  margin: 20px 0 30px;
}

.profile-text a {
  text-decoration: none;
  color: #444;
  padding: 10px 20px;
  border: 3px solid #444;
  font-weight: bolder;
}

.profile:hover .profile-text {
  transform: translateY(0);
}

#accordion button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-header button {
  text-align: left;
}

#accordion .btn-link {
  text-decoration: none;
  color: black;
}

#accordion .card {
  background-color: white !important;
  border: none;
}

#accordion .card-header {
  background-color: white;
}

footer {
  font-weight: 200;
  background-color: white;
  padding: 4rem;
  /* text-align: center; */
}

.discord-widget {
  max-width: 90%;
}

.boxes-row {
  justify-content: center;
}

footer.container-fluid {
  padding-bottom: 10px !important;
}

@media screen and (max-width: 995px) {
  header {
    display: none;
    position: absolute;
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .anim-typewriter, .anim-typewriter-static {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  #moreondsc {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .anim-typewriter, .anim-typewriter-static {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 1023px) {
  #moreondsc,
  #team,
  #whattoexpect,
  #FAQ,
  footer {
    font-size: 1rem;
    padding: 2.5rem 1rem 2.5rem 1rem !important;
  }
  .boxes-row {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1270px) {
  .guy-1,
  .guy-2 {
    display: block;
  }
}
