body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url("../assets/img/team-background.svg");
}

#teamPage {
    color: #343434;
}

#teamPage h1 {
    font-size: 4rem;
    color: #0e174a;
    text-shadow: 3px 3px #acaebe86;
}

#teamPage h2 {
    color: #000000;
}

#teamPage h3 {
    color: #0e174a;
    font-style: italic;
}

#teamPage p {
    color: #000000;
}

.teams {
    font-weight: 200;
    padding: 4rem;
    -webkit-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.42);
}

.team-1 {
    background-color: #fef9e7;
}

.team-2 {
    background-color: #fef8e7;
}

.team-3 {
    background-color: #fef7e7;
}

.team-4 {
    background-color: #fef6e7;
}

.team-5 {
    background-color: #fef5e7;
}

.team-6 {
    background-color: #fef4e7;
}

.team-7 {
    background-color: #fef3e7;
}

.team-8 {
    background-color: #fef2e7;
}

.team-9 {
    background-color: #fef1e7;
}

.teams h2 {
    text-align: center;
    font-weight: bold;
}

.teams p {
    text-align: center;
}

.profile-1 {
    border-radius: 50% !important;
}

#pic {
    border-radius: 50% !important;
}

.profile {
    height: 300px;
    max-width: 300px;
}

.profile-span {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 1s;
    border-radius: 5px;
    animation: none;
    border: none;
}

/*Profile Pictures*/

/*bigfive*/
/* Team Lead*/
#adam .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/adam.png");
}

/* Team Co-Lead I*/
#shayan .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/shayan.JPG");
}

/* Team Co-Lead II*/
#junkit .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/junkit.jpg");
}

/*Treasurer*/
#ammar .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/ammar.png");
}

/*Secretary*/
#masha .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/masha.png");
}

/*tech team*/
#luqman .profile-span {
    background-image: url("../assets/img/gdsc/tech/luqman.png");
}

#nik .profile-span {
    background-image: url("../assets/img/gdsc/tech/nik.png");
}

#amirah .profile-span {
    background-image: url("../assets/img/gdsc/tech/amirah.png");
}

#jiaquan .profile-span {
    background-image: url("../assets/img/gdsc/tech/jiaquan.png");
}

#viiniesh .profile-span {
    background-image: url("../assets/img/gdsc/tech/viiniesh.png");
}

#fikri .profile-span {
    background-image: url("../assets/img/gdsc/tech/fikri.png");
}

/*multimedia team*/
#haziq .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/haziq.png");
}

#satishwaran .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/satishwaran.png");
}

#hemma .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/hemma.png");
}

#danesh .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/danesh.png");
}

#syahmi .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/syahmi.png");
}

/*event team*/
#issye .profile-span {
    background-image: url("../assets/img/gdsc/event/issye.png");
}

#ariana .profile-span {
    background-image: url("../assets/img/gdsc/event/ariana.png");
}

#intan .profile-span {
    background-image: url("../assets/img/gdsc/event/intan.png");
}

#bukhary .profile-span {
    background-image: url("../assets/img/gdsc/event/bukhary.png");
}

/*publicity team*/
#ummu .profile-span {
    background-image: url("../assets/img/gdsc/publicity/ummu.png");
}

#leen .profile-span {
    background-image: url("../assets/img/gdsc/publicity/leen.png");
}

#rime .profile-span {
    background-image: url("../assets/img/gdsc/publicity/rime.png");
}

#jiajin .profile-span {
    background-image: url("../assets/img/gdsc/publicity/jiajin.png");
}

/*sponsorship & partnership team*/
#aisyah .profile-span {
    background-image: url("../assets/img/gdsc/snp/aisyah.png");
}

#rishi .profile-span {
    background-image: url("../assets/img/gdsc/snp/rishi.png");
}

#nicole .profile-span {
    background-image: url("../assets/img/gdsc/snp/nicole.png");
}

.profile {
    margin: 20px auto !important;
}

#teams p {
    max-width: 70%;
    margin: 0 auto;
}

header {
    z-index: 1000;
    width: 100%;
    position: fixed !important;
    background-color: #1f1f1f;
    opacity: 0.7;
    /* background-color: white; */
}

footer {
    background-color: #fef1e7 !important;
}

@media screen and (max-width: 1023px) {
    #teams {
        font-size: 1rem;
        padding: 2.5rem 1rem !important;
    }
}
