body {
    background-image: url("../assets/img/team-background.svg") !important;
    backdrop-filter: brightness(0.8);
}

#teamPage {
    color: #343434;
}

#teamPage h1 {
    font-size: 4rem;
    color: #0e174a;
    text-shadow: 3px 3px #acaebe86;
}

#teamPage h2 {
    color: #000000;
}

#teamPage h3 {
    color: #0e174a;
    font-style: italic;
}

#teamPage p {
    color: #000000;
}

.teams {
    font-weight: 200;
    padding: 4rem;
    -webkit-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.42);
}

.team-1 {
    background-color: #fef9e7;
}

.team-2 {
    background-color: #fef8e7;
}

.team-3 {
    background-color: #fef7e7;
}

.team-4 {
    background-color: #fef6e7;
}

.team-5 {
    background-color: #fef5e7;
}

.team-6 {
    background-color: #fef4e7;
}

.team-7 {
    background-color: #fef3e7;
}

.team-8 {
    background-color: #fef2e7;
}

.team-9 {
    background-color: #fef1e7;
}

.teams h2 {
    text-align: center;
    font-weight: bold;
}

.teams p {
    text-align: center;
}

.profile-1 {
    border-radius: 50% !important;
}

#pic {
    border-radius: 50% !important;
}

.profile {
    height: 300px;
    max-width: 300px;
}

.profile-span {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 1s;
    border-radius: 5px;
    animation: none;
    border: none;
}

/*Profile images*/

/*bigfive*/
#firzan .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/firzan.jpg");
}

#aqra .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/aqra.jpg");
}

#inqsyira .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/inqsyira.jpg");
}

#hanisa .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/hanisa.jpg");
}

#amir-haziq .profile-span {
    background-image: url("../assets/img/gdsc/bigfive/amir-haziq.jpg");
}

/*event team*/
#addina .profile-span {
    background-image: url("../assets/img/gdsc/event/addina.jpg");
}

#angel .profile-span {
    background-image: url("../assets/img/gdsc/event/angel.jpg");
}

#aqilah .profile-span {
    background-image: url("../assets/img/gdsc/event/aqilah.jpg");
}

#ariana .profile-span {
    background-image: url("../assets/img/gdsc/event/ariana.jpg");
}

#koay-yee-shuen .profile-span {
    background-image: url("../assets/img/gdsc/event/koay-yee-shuen.jpg");
}

#nashitah .profile-span {
    background-image: url("../assets/img/gdsc/event/nashitah.jpg");
}

#syahir .profile-span {
    background-image: url("../assets/img/gdsc/event/syahir.jpg");
}

#vaarindran .profile-span {
    background-image: url("../assets/img/gdsc/event/vaarindran.jpg");
}

/*multimedia team*/
#aishah .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/aishah.jpg");
}

#emiera .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/emiera.jpg");
}

#amira .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/amira.jpg");
}

#danesh-veran .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/danesh-veran.jpg");
}

#dhiyaul .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/dhiyaul.jpg");
}

#hemma-ravindran .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/hemma-ravindran.jpg");
}

#satishwaran .profile-span {
    background-image: url("../assets/img/gdsc/multimedia/satishwaran.jpg");
}

/*publicity team*/
#yasmin .profile-span {
    background-image: url("../assets/img/gdsc/publicity/yasmin.jpg");
}

#afif-afham .profile-span {
    background-image: url("../assets/img/gdsc/publicity/afif-afham.jpg");
}

#adam-hadziq .profile-span {
    background-image: url("../assets/img/gdsc/publicity/adam-hadziq.jpg");
}

#azlan .profile-span {
    background-image: url("../assets/img/gdsc/publicity/azlan.jpg");
}

#lim-xin-yee .profile-span {
    background-image: url("../assets/img/gdsc/publicity/lim-xin-yee.jpg");
}

/*tech team*/
#rony .profile-span {
    background-image: url("../assets/img/gdsc/tech/rony.jpg");
}

#husam .profile-span {
    background-image: url("../assets/img/gdsc/tech/husam.jpg");
}

#wong .profile-span {
    background-image: url("../assets/img/gdsc/tech/wong.jpg");
}

#nik .profile-span {
    background-image: url("../assets/img/gdsc/tech/nik.jpg");
}

#fikri .profile-span {
    background-image: url("../assets/img/gdsc/tech/fikri.jpg");
}

#amirah .profile-span {
    background-image: url("../assets/img/gdsc/tech/amirah.jpg");
}
#omar .profile-span {
    background-image: url("../assets/img/gdsc/tech/omar.jpg");
}
#sakib .profile-span {
    background-image: url("../assets/img/gdsc/tech/sakib.jpg");
}

#Jihin .profile-span {
    background-image: url("../assets/img/gdsc/tech/Jihin.jpg");
}

/*sponsorship & partnership team*/
#arique .profile-span {
    background-image: url("../assets/img/gdsc/sponsorship_partnership/arique.jpg");
}

#zharfan-mirza .profile-span {
    background-image: url("../assets/img/gdsc/sponsorship_partnership/zharfan-mirza.jpg");
}

#al-amin .profile-span {
    background-image: url("../assets/img/gdsc/sponsorship_partnership/al-amin.jpg");
}

.profile {
    margin: 20px auto !important;
}

#teams p {
    max-width: 70%;
    margin: 0 auto;
}

header {
    z-index: 1000;
    width: 100%;
    position: fixed !important;
    background-color: #1f1f1f;
    opacity: 0.7;
    /* background-color: white; */
}

footer {
    background-color: #fef1e7 !important;
}

@media screen and (max-width: 1023px) {
    #teams {
        font-size: 1rem;
        padding: 2.5rem 1rem !important;
    }
}
